@page "/{TrackKey}/routes"
@page "/{TrackKey}/routes/{TagName}"
@using BlazorApp.Client.Utils
@using BlazorApp.Shared
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject ClubCheck ClubCheck
@inject NavigationManager NavigationManager

<div class="jumbotron">
    <EditArticle ArticleKey="Routes"></EditArticle>
</div>
<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />

<h3>Routen</h3>
@if (null == _routes)
{
    <p><em>Deine Zugriffsrechte werden geprüft und Daten werden geladen... Beim ersten Aufruf dauert das ein bisschen.</em></p>
}
else
{
    <p>
        <AuthorizeView>
            <Authorized>
                <a class="btn btn-primary" href=@($"{AppStateStore.TrackKey}/editroute") title="Route anlegen" hidden="@(false && !AppStateStore.IsUserConfirmed)">Route anlegen</a>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-primary" href="/LoginProviders/routes">Anmelden</a>
            </NotAuthorized>
        </AuthorizeView>
        <button class="btn btn-primary" title="Suche anzeigen" @onclick="@(() => ToggleSearchCollapse())"><span class="oi oi-magnifying-glass"></span></button>
        <button class="btn btn-primary" title="Reload" @onclick="@(() => Reload())"><span class="oi oi-reload"></span></button>
    </p>
    <div class="row @_searchCollapse">
        <ComposeFilter Filter="@_filter" TagSets="@_tagSets" OnChangeCallback="Reload" TagByName="@TagName"></ComposeFilter>
    </div>
    <div class="row">
        @foreach (ExtendedRoute route in _routes)
        {
            <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mt-2">
                <RouteCard RouteItem="@route" OnReload="Reload"></RouteCard>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public string TrackKey { get; set; }
    [Parameter]
    public string TagName { get; set; }
    private NotificationMessage _notificationMessage;
    IEnumerable<ExtendedRoute> _routes = null;
    RouteFilter _filter = new RouteFilter();
    private IEnumerable<TagSet> _tagSets;
    private string _searchCollapse = "collapse";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Check if a club is given as part of url or selected before
            if (!await ClubCheck.SetClub(TrackKey))
            {
                NavigationManager.NavigateTo("/");
                return;
            }
            _tagSets = await Api.GetTagSets();
            if (!String.IsNullOrEmpty(TagName))
            {
                ToggleSearchCollapse();
            }
            _routes = await Api.GetRoutes(_filter);
        }
        catch (Exception ex)
        {
            _notificationMessage.ShowError($"Fehler: {ex.Message}");
            return;
        }
    }

    private void ToggleSearchCollapse()
    {
        _searchCollapse = String.IsNullOrEmpty(_searchCollapse) ? "collapse" : String.Empty;
    }
    private async Task Reload()
    {
        try
        {
            _routes = await Api.GetRoutes(_filter);
        }
        catch (Exception ex)
        {
            _notificationMessage.ShowError($"Fehler: {ex.Message}");
        }
    }

}
