@using BlazorApp.Client.Utils
@using BlazorApp.Shared
@using System.Text.RegularExpressions
@inject AppState AppStateStore

@if (null != RouteItem && null != TagSets)
{ 
    <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mt-0 ">
        <div class="card">
            <div class="card-header">Zugewiesene Tags</div>
            <div class="card-body">
                @foreach (RouteTag rt in RouteItem.Core.RouteTags)
                {
                    @if (!CheckIfRouteTagIsRestricted(rt) || AppStateStore.IsUserReviewer)
                    { 
                        <div class="badge badge-@GetBadgeClass(rt.BadgeColor) p-2 m-1" title="Tag auswählen" @onclick="@(() => UnAssignTag(rt))">
                            @rt.TagLabel<text>&nbsp;</text><span class="oi oi-minus"></span>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    @foreach (TagSet ts in TagSets)
    {
        if (ts.HasRestrictedAccess && !AppStateStore.IsUserReviewer)
        {
            continue;
        }
        <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mt-0 mb-0 ml-0 mr-0">
            <div class="card">
                <div class="card-header">
                    @ts.Name
                </div>
                <div class="card-body">
                    @foreach (Tag t in ts.Tags)
                    {
                        @if (!t.HideFromSelection)
                        {
                            <div class="badge badge-@GetBadgeClass(ts.BadgeColor) p-2 m-1" title="Tag auswählen" @onclick="@(() => AssignTag(ts, t))">
                                @t.Label<text>&nbsp;</text><span class="oi oi-plus"></span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public ExtendedRoute RouteItem { get; set; } = new ExtendedRoute();
    [Parameter]
    public IEnumerable<TagSet> TagSets { get; set; } = new List<TagSet>();
    private string[] BadgeClasses =
    {
        "primary",
        "secondary",
        "success",
        "danger",
        "warning",
        "info",
        "light",
        "dark"
    };

    protected override void OnInitialized()
    {
        CheckAvailableTags();
    }

    private string GetBadgeClass(TagBadgeColor color)
    {
        return BadgeClasses[(int)color];
    }

    private void CheckAvailableTags()
    {
        foreach(RouteTag rt in RouteItem.Core.RouteTags)
        {
            Tag tag = FindCorrespondingTag(rt);
            if (null != tag)
            {
                tag.HideFromSelection = true;
            }
        }
    }

    private void AssignTag(TagSet tagSet, Tag tag)
    {
        RouteTag routeTag = RouteItem.Core.RouteTags.FirstOrDefault(t => t.TagId.CompareTo(tag.TagId) == 0);
        if (null == routeTag)
        {
            // Check if there is another one from mutually selected already active ==> unassign it
            if (tagSet.IsMutuallyExclusive)
            {
                foreach(Tag t in tagSet.Tags)
                {
                    RouteTag rt = RouteItem.Core.RouteTags.FirstOrDefault(rtt => rtt.TagId.CompareTo(t.TagId) == 0);
                    if (null != rt)
                    {
                        UnAssignTag(rt);
                    }
                }
            }
            routeTag = new RouteTag();
            RouteItem.Core.RouteTags.Add(routeTag);
        }
        tag.HideFromSelection = true;
        routeTag.TagId = tag.TagId;
        routeTag.TagLabel = tag.Label;
        routeTag.TagSetId = tagSet.Id;
        routeTag.BadgeColor = tagSet.BadgeColor;

    }
    private void UnAssignTag(RouteTag routeTag)
    {
        RouteItem.Core.RouteTags.Remove(routeTag);
        Tag tag = FindCorrespondingTag(routeTag);
        if (null != tag)
        {
            tag.HideFromSelection = false;
        }
    }

    private Tag FindCorrespondingTag(RouteTag routeTag)
    {
        TagSet tagSet = TagSets.FirstOrDefault(rt => rt.Id.CompareTo(routeTag.TagSetId) == 0);
        Tag tag = null;
        if (null != tagSet)
        {
            tag = tagSet.Tags.FirstOrDefault(ft => ft.TagId.CompareTo(routeTag.TagId) == 0);
        }
        return tag;
    }
    private bool CheckIfRouteTagIsRestricted(RouteTag routeTag)
    {
        TagSet tagSet = TagSets.FirstOrDefault(rt => rt.Id.CompareTo(routeTag.TagSetId) == 0);
        return (null != tagSet && tagSet.HasRestrictedAccess);
    }

}
